/* This is a minimal style sheet intended to demonstrate how to include 
   static content in your hybrid app.  Other static content, such as 
   javascript files and images, can be included in this same folder
   (Resources on iOS or Assets on Android), with the same Build Action 
   (BundleResource on iOS or AndroidAsset on Android), to be accessible 
   from a path starting at the root of your hybrid application.  */
body {
    background-color: black;
    width: 100%;
    margin: 0 0 0 0;
}

.rr2 {
    background: url(https://pp.userapi.com/c840135/v840135856/4a969/KamRIFBLu7E.jpg) 20% 20%;
    /*background-repeat: no-repeat, repeat-x;*/
    background-position: center;
    background-size: cover;
    margin: 45% 0% 10% 0%;
    padding: 20% 20% 20% 20%;
}

.cssload-cube {
    background-color: rgb(69,143,255);
    width: 18px;
    height: 18px;
    position: absolute;
    margin: auto;
    animation: cssload-cubemove 4.6s infinite ease-in-out;
    -o-animation: cssload-cubemove 4.6s infinite ease-in-out;
    -ms-animation: cssload-cubemove 4.6s infinite ease-in-out;
    -webkit-animation: cssload-cubemove 4.6s infinite ease-in-out;
    -moz-animation: cssload-cubemove 4.6s infinite ease-in-out;
}

.cssload-cube1 {
    left: 25px;
    top: 0px;
    animation-delay: 0.23s;
    -o-animation-delay: 0.23s;
    -ms-animation-delay: 0.23s;
    -webkit-animation-delay: 0.23s;
    -moz-animation-delay: 0.23s;
}

.cssload-cube2 {
    left: 49px;
    top: 0px;
    animation-delay: 0.46s;
    -o-animation-delay: 0.46s;
    -ms-animation-delay: 0.46s;
    -webkit-animation-delay: 0.46s;
    -moz-animation-delay: 0.46s;
}

.cssload-cube3 {
    left: 74px;
    top: 0px;
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

.cssload-cube4 {
    left: 0px;
    top: 25px;
    animation-delay: 0.23s;
    -o-animation-delay: 0.23s;
    -ms-animation-delay: 0.23s;
    -webkit-animation-delay: 0.23s;
    -moz-animation-delay: 0.23s;
}

.cssload-cube5 {
    left: 25px;
    top: 25px;
    animation-delay: 0.46s;
    -o-animation-delay: 0.46s;
    -ms-animation-delay: 0.46s;
    -webkit-animation-delay: 0.46s;
    -moz-animation-delay: 0.46s;
}

.cssload-cube6 {
    left: 49px;
    top: 25px;
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

.cssload-cube7 {
    left: 74px;
    top: 25px;
    animation-delay: 0.92s;
    -o-animation-delay: 0.92s;
    -ms-animation-delay: 0.92s;
    -webkit-animation-delay: 0.92s;
    -moz-animation-delay: 0.92s;
}

.cssload-cube8 {
    left: 0px;
    top: 49px;
    animation-delay: 0.46s;
    -o-animation-delay: 0.46s;
    -ms-animation-delay: 0.46s;
    -webkit-animation-delay: 0.46s;
    -moz-animation-delay: 0.46s;
}

.cssload-cube9 {
    left: 25px;
    top: 49px;
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

.cssload-cube10 {
    left: 49px;
    top: 49px;
    animation-delay: 0.92s;
    -o-animation-delay: 0.92s;
    -ms-animation-delay: 0.92s;
    -webkit-animation-delay: 0.92s;
    -moz-animation-delay: 0.92s;
}

.cssload-cube11 {
    left: 74px;
    top: 49px;
    animation-delay: 1.15s;
    -o-animation-delay: 1.15s;
    -ms-animation-delay: 1.15s;
    -webkit-animation-delay: 1.15s;
    -moz-animation-delay: 1.15s;
}

.cssload-cube12 {
    left: 0px;
    top: 74px;
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

.cssload-cube13 {
    left: 25px;
    top: 74px;
    animation-delay: 0.92s;
    -o-animation-delay: 0.92s;
    -ms-animation-delay: 0.92s;
    -webkit-animation-delay: 0.92s;
    -moz-animation-delay: 0.92s;
}

.cssload-cube14 {
    left: 49px;
    top: 74px;
    animation-delay: 1.15s;
    -o-animation-delay: 1.15s;
    -ms-animation-delay: 1.15s;
    -webkit-animation-delay: 1.15s;
    -moz-animation-delay: 1.15s;
}

.cssload-cube15 {
    left: 74px;
    top: 74px;
    animation-delay: 1.38s;
    -o-animation-delay: 1.38s;
    -ms-animation-delay: 1.38s;
    -webkit-animation-delay: 1.38s;
    -moz-animation-delay: 1.38s;
}

.cssload-spinner {
    margin: auto;
    width: 96px;
    height: 96px;
    position: relative;
    margin-bottom:44%;
}



@keyframes cssload-cubemove {
    35% {
        transform: scale(0.005);
    }

    50% {
        transform: scale(1.7);
    }

    65% {
        transform: scale(0.005);
    }
}

@-o-keyframes cssload-cubemove {
    35% {
        -o-transform: scale(0.005);
    }

    50% {
        -o-transform: scale(1.7);
    }

    65% {
        -o-transform: scale(0.005);
    }
}

@-ms-keyframes cssload-cubemove {
    35% {
        -ms-transform: scale(0.005);
    }

    50% {
        -ms-transform: scale(1.7);
    }

    65% {
        -ms-transform: scale(0.005);
    }
}

@-webkit-keyframes cssload-cubemove {
    35% {
        -webkit-transform: scale(0.005);
    }

    50% {
        -webkit-transform: scale(1.7);
    }

    65% {
        -webkit-transform: scale(0.005);
    }
}

@-moz-keyframes cssload-cubemove {
    35% {
        -moz-transform: scale(0.005);
    }

    50% {
        -moz-transform: scale(1.7);
    }

    65% {
        -moz-transform: scale(0.005);
    }
}
